<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Add or update {{vm.title}}</h4>
  </div>
  <form ng-submit="vm.save()" name="form">
    <div class="panel-body">

      <div class="form-group">
        <label>Name</label>
        <input class="form-control"
               type="text"
               ng-required="true"
               ng-model="vm.entity.name">
      </div>
      <div class="form-group">
        <label>Surname</label>
        <input class="form-control"
               type="text"
               ng-required="true"
               ng-model="vm.entity.surname">
      </div>
      <div class="form-group">
        <label>Index number</label>
        <input class="form-control" ng-required="true" ng-model="vm.entity.index" type="number">
      </div>
      <div class="form-group">
        <label>Lab Group</label>
        <ui-select ng-model="vm.entity.labGroup"
                   title="Choose lab group">
          <ui-select-match
            placeholder="Select lab group...">
            <span>{{$select.selected.name}}</span>
          </ui-select-match>
          <ui-select-choices
            repeat="item in (vm.groups | filter:$select.search )"
            position="auto">
            {{item.name}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="panel-footer text-right">
      <div class="panel panel-danger text-center text-danger" ng-show="vm.saveErrMsg">
        {{vm.saveErrMsg}}
      </div>
      <div class="panel panel-success text-center text-success" ng-show="vm.saveOkMsg">
        {{vm.saveOkMsg}}
      </div>
      <button class="btn btn-default" type="reset"
              ng-click="vm.clear()">
        <i class="fa fa-fw fa-refresh"></i>
        Clear
      </button>
      <button class="btn btn-primary"
              type="submit"
              ng-disabled="form.$invalid">
        <i class="fa fa-fw fa-save"></i>
        Save
      </button>
    </div>

  </form>
</div>
<div class="row">
  <div class="col-md-12">
    <table st-safe-src="entities" st-table="tableDisplay" ng-show="entities.length>0" class="table table-bordered table-striped">
      <tr>
        <th st-sort="name">First Name</th>
        <th st-sort="surname">Surname</th>
        <th st-sort="index">Index Number</th>
        <th st-sort="labGroup">Lab Group</th>
        <th>Actions</th>
      </tr>
      <tr>
        <th><input st-search="row.index" placeholder="search by index" type="search"/></th>
      </tr>
      <tr ng-repeat="row in entities">
        <td>{{row.name}}</td>
        <td>{{row.surname}}</td>
        <td>{{row.index}}</td>
        <td>{{row.labGroup.name}}</td>
        <td>
          <button class="btn btn-xs btn-default"
                  ng-click="vm.edit(row)">
            Edit
          </button>
          <button class="btn btn-xs btn-danger"
                  ng-click="vm.remove(row)">
            Remove
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-center">
          <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
        </td>
      </tr>
    </table>

    <div class="panel panel-warning text-warning" ng-hide="entities.length>0">
      There are no students!
    </div>
  </div>
</div>
<div class="row">
  <wp-input wp-label="someLabel" wp-type="text" wp-model="vm.entity.property" wp-focus="true"></wp-input>
</div>
